@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    *{
        @apply scroll-smooth;
    }

    body{
        @apply bg-white text-dark-200 min-h-screen;
    }

    .custom-scrollbar::-webkit-scrollbar{
        width: 6px;
        height: 3px;
        border-radius: 50px;
    }

    .custom-scrollbar ::-webkit-scrollbar-track{
        background: transparent;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb{
        background: #e5e7eb;
        border-radius: 50px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover{
        background: #fa7275;
    }

    /* Remove scrollbar */
    .remove-scrollbar::-webkit-scrollbar{
        width: 0;
        height: 0;
        border-radius: 0;
    }

    .remove-scrollbar::-webkit-scrollbar-track{
        background: transparent;
    }
    .remove-scrollbar::-webkit-scrollbar-thumb{
        background: transparent;
        border-radius: 0;
    }

    .remove-scrollbar::-webkit-scrollbar-thumb:hover{
        background: transparent;
    }

    .recharts-responsive-container{
        height: initial !important;
    }

    @layer utilities{
        /* TYPOGRAPHY */
        .h1{
            @apply text-[34px] leading-[42px] font-bold;
        }
        .h2{
            @apply text-[24px] leading-[36px] font-bold;
        }
        .h3{
            @apply text-[20px] leading-[28px] font-semibold;
        }
        .h4{
            @apply text-[18px] leading-[20px] font-medium;
        }
        .h5{
            @apply text-[16px] leading-[24px] font-semibold;
        }
        .subtitle-1{
            @apply text-[16px] leading-[24px] font-medium;
        }
        .subtitle-2{
            @apply text-[14px] leading-[20px] font-semibold;
        }
        .body-1{
            @apply text-[16px] leading-[20px] font-normal;
        }
        .button{
            @apply text-[14px] leading-[20px] font-medium;
        }
        .caption{
            @apply text-[12px] leading-[16px] font-normal;
        }
        .overline{
            @apply text-[10px] leading-[14px] font-normal;
        }
    }
}

